:root {
    --primery-font:'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --acent-color:#FFFFFF;
    --title-color:#2E2F42;
    --text-color:#434455;
    --secondary-logo-color:#4D5AE5;
    --link-color:#4D5AE5;
    --background-btn-hero:#4D5AE5;
    --hover-focus-btn:#404BBF;
    --background-hero:#2E2F42;
    --backgorund-team:#F4F4FD;
    --background-footer:#2E2F42;
    --footer-text:#E7E9FC;
    --potfolio-btn-back:#E7E9FC;
    --potfolio-btn-focus-back:#404BBF;
    --potfolio-btn-color:#4D5AE5;
    --portfoli-staff-card:#E7E9FC;
    --transition-duration:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: var(--primery-font);
    background-color: var(--acent-color);
    color:var(--text-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container {
    padding-right: 16px;
    padding-left: 16px;
}
@media screen and (min-width: 480px){
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px){
    .container {
        width: 768px;
    }
    .container-content {
        width: 552px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
}
/* --------COMPONENTS-------*/
.heder-logo {
    font-family:var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-right: 76px;
}
.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}
.filters-button {
    font-family:var(--primery-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}



/* ----------HEADER------- */

@media screen and (max-width: 768px)  {
    .heder-list {
        display: none;
    }
    .heder-box {
        display: none;
    }
    .logo-web {
        color: var(--secondary-logo-color);
    }
    .header {
        padding-bottom: 24px;
    }

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
.mobile-menu-open {
    stroke: #2E2F42;
    background: transparent;
    border: transparent;
    padding: 0;
    line-height: 0;
}
.header {
    padding-top: 24px;
}

@media screen and (min-width:768px) {
    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
    }


    .mobile-menu-open {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .logo-web {
        color: var(--secondary-logo-color);
    }

    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color);
        transition: color var(--transition-duration);
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--link-color);

    }

    .heder-navigation,
    .header-container {
        display: flex;
    }

    .header {
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
        box-shadow: 
        0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .menu-studio {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--link-color);
    }

    .heder-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .studio::after {
        display: block;
        content: "";
        width: 48px;
        height: 4px;
        background-size: auto;
        background-color: #404BBF;
        border-radius: 2px;
        margin-top: 26px;
        position: absolute;
    }
    
    .studio-link {
        position: relative;
    }
}
@media screen and (min-width:1200px) {
    .address-link {
        font-size: 16px;
    }
}
@media screen and (max-width:1200px) {
    .header-item:nth-child(1) {
            margin-bottom: 6px;
        }
}
@media screen and (min-width:1200px) {
    .address-block {
        display: flex;
    }
    /* .header {
        padding-top: 24px;
        padding-bottom: 24px;
    } */
    /* .heder-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        transition: color var(--transition-duration);
    } */
    .header-item:not(:last-child) {
        margin-right: 40px;
    }
    .header-item {
        margin-bottom: none;
    }
    .studio::after {
        margin-top: 21px;
    }
}
.heder-box {
    margin-left: auto;
}
@media screen and (min-width:768px) {
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
@media screen and (min-width:1200px) {
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

/* .heder-link:hover,
.heder-link:focus {
    color:var(--link-color);
} */


/* -------------HERO-----------*/

.hero {
    background-color: var(--background-hero);
    max-width: 480px;
    text-align: center;
    margin: auto;
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-img/mobile-hero-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px),
screen and (min-resolution: 192dpi)and (max-width: 768px),
screen and (min-resolution: 2dppx) and (max-width: 768px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img/mobile-hero@2x-min.jpg);
    }
    .hero-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--acent-color);
        margin-bottom: 42px;
        max-width: 497px;
        margin-left:  auto;
        margin-right: auto;
    }
}


@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img/tablet-hero-min.jpg);
        background-size: cover;
        
    }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--acent-color);
        margin-bottom: 42px;
        max-width: 497px;
        margin-left:  auto;
        margin-right: auto;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi)and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img/tablet-hero@2x-min.jpg);
            background-size: cover;
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img/people-office.jpeg);
        background-size: cover;
        padding-bottom: 188px;
        padding-top: 188px;
    }
    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--acent-color);
        margin-bottom: 42px;
        max-width: 497px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi)and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img/people-office@2x.jpg);
            background-size: cover;
    }
}
.hero-button {
        background-color: var(--background-btn-hero);
        color: var(--acent-color);
        width: 169px;
        height: 56px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color var(--transition-duration);
        border: none;
        font-family: var(--primery-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    }
.hero-button:hover,
.hero-button:focus {
        background-color: var(--hover-focus-btn);
    }

    .section-paddings {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    @media screen and (min-width: 1200px) {
        .section-paddings {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }

/* -------------FEATURES-----------*/

@media screen and (max-width: 768px) {
    .features-list {
            row-gap: 72px;
        }
    .features-subtitle {
        text-align: center;
    }
    .features-item {
        justify-content: space-between;
    }

}
@media screen and (max-width: 1200px) {
    .features-svg {
            display: none;
        }
    .features-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--title-color);
    }
    .features-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

}
@media screen and (min-width: 768px) {
    .features-subtitle {
        text-align: start;
    }
        
}
@media screen and (max-width: 1200px) {

    .features-item {
        margin: 0 auto;
        width: 356px;

    }.features-text {
        font-weight: 500;
    }
}
@media screen and (min-width: 1200px) {

    .features-list {
        display: flex;
        column-gap: 24px;

    }
    .features-box {
    display: flex;
    justify-content: center;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 264px;
            
    }
    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
    }
    .features-text {
        font-weight: 400; 
    }
}
.features-svg {
    width: 64px;
    height: 64px;
}
.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-top: 8px;
}



/*--------------DOING-------------*/
@media screen and (max-width: 1200px){
    .doing {
        display: none;
    }
    
}
@media screen and (min-width: 1200px) {  
    .doing {
        padding-bottom: 120px;
    }
}
.doing-list {
    display: flex;
    gap: 24px;
}
.doing-img {
    display: block;
    min-width: 100%;
    height: auto;
}



/* ---------------TEAM-----------*/
@media screen and (max-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 72px;
    }

}
@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .team-list {
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: center;
        flex-wrap: nowrap;
    }
    
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.team-img {
    display: block;
    min-width: 100%;
    height: auto;
}
/* .team-item {
    padding-top: 32px;
    padding-bottom: 32px;
    
} */
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;    
    text-align: center;
    letter-spacing: 0.02em;    
    color: var(--title-color);
    margin-top: 8px;
}
.team {
    background-color: var(--backgorund-team);
    
}

.team-item {
    background-color: var(--acent-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-soc-list{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}
.team-soc-item {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--link-color);
    transition: background-color var(--transition-duration);
}
.team-soc-item:hover,
.team-soc-item:focus {
    background-color: #404BBF;
}
.item-wrap{
    text-align: center;
    padding: 32px 16px 32px 16px;

} 
.team-title {    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em; 
    color: var(--title-color);
    
    margin-bottom: 72px;
    text-align: center;
}




/* -----------CUSTOMERS----------------*/
@media screen and (min-width: 480px) {
    .customers-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        row-gap: 24px;
    }
    .customers-link {
        width: 190px;
    }
    /* .customers-list {        
        margin-bottom: 96px;
    } */
}
@media screen and (min-width: 480px) {
    .customers-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
        flex-direction:row;
    }
    .customers-link {
        width: 168px;
    }
    /* .customers-list {        
        margin-bottom: 96px;
    } */
}

@media screen and (min-width: 768px) {
    .customers-link {
        max-width: 168px;
    }
   
}
@media screen and (min-width: 1200px) {
    .customers-logo-box {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .customers-link {
        width: 168px;
    }
    /* .customers-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--title-color);
        margin-bottom: 72px;
    } */
    .customers-list {
        width: 1128px;
    }
}
/* @media screen and (min-width: 480px) {
    .customers-list {
        width: 396px;
    }
} */
.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 72px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;
    transition: fill var(--transition-duration),
        border-color var(--transition-duration);
}
.customers-link:hover,
.customers-link:focus {
    fill:  var(--hover-focus-btn);
    border-color:var(--hover-focus-btn);
}


/* ------------FOOTER------------*/
@media screen and (max-width: 479px) {
    .footer-form-input {
            width: 290px;
        }
        
}
@media screen and (min-width: 480px) {
    .tablet-footer-box {
          
        }
}
@media screen and (min-width: 480px) {
    .footer-form-input {
        width: 398px;
    }
        
    
}
@media screen and (max-width: 768px) {

    .footer-text {
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }
    .footer-logo-box {
        margin-bottom: 72px;
        text-align: center;
    }
    .footer-logo-group {
        margin-right: auto;
        margin-left: auto;
        }
    .footer-social-text {
        text-align: center;
    }
    .subscribe-wrapper {
        display: block;
        justify-content: center;
        text-align: center;
        margin-top: 72px;
    }
    
    .subscribe-title {
        text-align: center;
    }


    .footer-form-btn {  
        margin-top: 16px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

}
@media screen and (min-width: 768px) {

    .tablet-footer-box {
        display: flex;
    }
    .footer-logo-box {
        margin-right: 24px;
    }
    .subscribe-wrapper {
        margin-top: 72px;
    }
    .footer-form-btn {
        margin-left: 16px;
    }
    .footer-form-input {
        width: 264px;
    }
}
@media screen and (min-width: 1200px) {
    .footer-logo-box {
        margin-right: 120px;

    }
    .subscribe-wrapper {
        margin-left: 80px;
    }
    .footer-container {
        display: flex;
    }
    .subscribe-wrapper {
        margin-top: 0px;
        padding-left: 0px;
    }
    .footer-form-btn {
        display: flex;
    }
    .footer-form {
        display: flex;
    }
    .footer-logo-box {
        padding-left: 0px;
    }
    

}

.footer-text {
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;    
    color: var(--footer-text);
    width: 264px;
    margin-top: 16px;
}

.footer {
    background-color:var(--background-footer);
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-component-footer {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    color: var(--acent-color);
}
.footer-logo-group {
    display: block;
    width: 208px;
}
.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--acent-color);
    margin-bottom: 16px;
}
.footer-logo-block {
    display: flex;
    justify-content: space-between;

}
.footer-social-box {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-box:hover,
.footer-social-box:focus {
    background-color: var(--link-color);
}
.footer-social-box {
    transition: background-color var(--transition-duration);
}
.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--acent-color);
    margin-bottom: 16px;
    
}

.footer-form-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    color: var(--acent-color);
    padding-left: 16px;
}
.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 200;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
    background-color: var(--background-btn-hero);
    color: var(--acent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-duration);
    padding: 6px 24px 7px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .04em;
    border: none;
}

.footer-form-btn-icon {
    transform: translateY(20%);
    margin-left: 16px;
    width: 24px;
    height: 20px;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: var(--hover-focus-btn);
}



/* -----------PORTFOLIO-----------------*/

.portfolio::after {
    display: block;
    content: "";
    width: 68px;
    height: 4px;
    background-size: auto;
    background-color: #404BBF;
    border-radius: 2px;
    margin-top: 20px;
    position: absolute;

}
.porrtfolio-line  {
    position: relative;
    
}
.menu-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
}
/* -----------PORTFOLIO-NAV----------*/
@media screen and (min-width: 480px) {
    /* .heder-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */
    
}
@media screen and (min-width: 768px) {
    .flex-container {
            column-gap: 16px;
        }
    .flex-container {
        justify-content: space-between;
    }
}
/* .heder-container{
    align-items: center;
} */
.overlay-text {
    display: block;
}
.wrap {
    padding-top: 96px;
    padding-bottom: 120px;
}
.box-link {
    display: block;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 72px;
    row-gap: 48px;
}
.box-link:hover,
.box-link:focus {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.box-item:hover .overlay,
.box-item:focus .overlay {
    transform: translate(0, 0);
}
.box-item
 {
    transition:
        box-shadow var(--transition-duration),
        transform var(--transition-duration);
}
.portfolio-img-block {
    display: block;
    min-width: 100%;
    height: auto;
}
.portfolio-cover-wrap {
    display: flex;
    position: relative;
    overflow: hidden;

}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--backgorund-team);
    background-color: var(--link-color);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 20px;
}


.item-subtitle {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid var(--footer-text);
    border-top: none;
}


.header {
    border-bottom: 1px solid var(--footer-text);
}

.about-title-port {
    color: var(--title-color);
    font-family: var(--primery-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    color:var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}
.port-btn {
    background-color: var(--backgorund-team);
    color: var(--potfolio-btn-color);
    min-width: 79px;
    height: 48px;
    border: 1px solid var(--footer-text);
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    transition: box-shadow var(--transition-duration);
}
.port-btn:hover,
.port-btn:focus {
    background-color: var(--potfolio-btn-focus-back);
    color: var(--acent-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}
.filters-button {
    transition: 
    box-shadow var(--transition-duration),
    color var(--transition-duration), 
    border-color var(--transition-duration),
    background-color var(--transition-duration);
}






